In [8]:
import pandas as pd
import numpy as np
import os

In [11]:
os.chdir("C:/Users/jthoma/OneDrive - Capgemini/Documents/IE Business School/Datathon/RadioLinkConcessionsSpain/new_data")

df = pd.read_csv("final_cleansed_standarized.csv", sep=';')
df

,Unnamed: 0,Referencia,Titular,NIF/CIF,Domicilio social,Localidad,Provincia_x,C. Postal,F. Concesion,F. Caducidad,...,Municipio,Frequencias,Tipo,codigopostalid,lat,lon,brand_sort,score_sort,match_sort,ratio
0,3,ALAL-0700001,"VODAFONE ONO, S.A.",A62186556,"AV AMERICA, 115",MADRID,MADRID,28042,2007-05-02,2022-12-31,...,CUEVAS DEL ALMANZORA,15.019,GHz,240.0,-2.712437e+09,4.293981e+10,VODAFONE ESPAÑA SA,100,"VODAFONE ESPAÑA, SA",73
1,254,ALAL-0900386,XFERA MOVILES SA,A82528548,"AVDA BRUSELAS, 38.",ALCOBENDAS,MADRID,28108,2010-01-02,2025-12-31,...,ALMERIA,18875.000,MHz,240.0,-2.712437e+09,4.293981e+10,XFERA MOVILES S.A.,94,"XFERA MOVILES, S.A.U.",86
2,438,ALAL-1000193,AXION INFRAESTRUCTURAS DE TELECOMUNICACIONES S...,A41999913,"AVDA ANDALUCÍA, S/N.",SEVILLA,SEVILLA,41907,NaN,2025-12-31,...,ALMERIA,14508.000,MHz,240.0,-2.712437e+09,4.293981e+10,REDES DE TELECOMUNICACION GALEGAS RETEGAL SA,100,"REDES DE TELECOMUNICACION GALEGAS RETEGAL, SA",62
3,645,ALAL-1000250,"VODAFONE ONO, S.A.",A62186556,"AV AMERICA, 115",MADRID,MADRID,28042,NaN,2025-12-31,...,ALMERIA,19.095,GHz,240.0,-2.712437e+09,4.293981e+10,VODAFONE ESPAÑA SA,100,"VODAFONE ESPAÑA, SA",73
4,1929,ALAL-1000334,"VODAFONE ONO, S.A.",A62186556,"AV AMERICA, 115",MADRID,MADRID,28042,2010-10-12,2025-12-31,...,CUEVAS DEL ALMANZORA,15.019,GHz,240.0,-2.712437e+09,4.293981e+10,VODAFONE ESPAÑA SA,100,"VODAFONE ESPAÑA, SA",73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4949,807531,MUMU-2200650,"ORANGE ESPAGNE, S.A.U",A82009812,"PASEO CLUB DEPORTIVO, 1.",POZUELO DE ALARCON,MADRID,28223,2022-05-07,2027-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,ORANGE ESPAGNE SA,100,"ORANGE ESPAGNE, SA",86
4950,807638,MUMU-2200651,"ORANGE ESPAGNE, S.A.U",A82009812,"PASEO CLUB DEPORTIVO, 1.",POZUELO DE ALARCON,MADRID,28223,2022-05-07,2027-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,ORANGE ESPAGNE SA,100,"ORANGE ESPAGNE, SA",86
4951,807745,MUMU-2200653,"ORANGE ESPAGNE, S.A.U",A82009812,"PASEO CLUB DEPORTIVO, 1.",POZUELO DE ALARCON,MADRID,28223,2022-06-07,2027-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,ORANGE ESPAGNE SA,100,"ORANGE ESPAGNE, SA",86
4952,807852,MUMU-2200655,"ORANGE ESPAGNE, S.A.U",A82009812,"PASEO CLUB DEPORTIVO, 1.",POZUELO DE ALARCON,MADRID,28223,2022-06-07,2027-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,ORANGE ESPAGNE SA,100,"ORANGE ESPAGNE, SA",86
4953,807959,MUMU-2200656,"ORANGE ESPAGNE, S.A.U",A82009812,"PASEO CLUB DEPORTIVO, 1.",POZUELO DE ALARCON,MADRID,28223,2022-06-07,2027-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,ORANGE ESPAGNE SA,100,"ORANGE ESPAGNE, SA",86

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4954 entries, 0 to 4953
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4954 non-null   int64
 1   Referencia                  4954 non-null   object
 2   Titular                     4954 non-null   object
 3   NIF/CIF                     4954 non-null   object
 4   Domicilio social            4954 non-null   object
 5   Localidad                   4954 non-null   object
 6   Provincia_x                 4954 non-null   object
 7   C. Postal                   4954 non-null   int64
 8   F. Concesion                1929 non-null   object
 9   F. Caducidad                4953 non-null   object
 10  Susceptible cesion          4954 non-null   bool
 11  Susceptible mutualizacion   4954 non-null   bool
 12  Obtenido por transferencia  4954 non-null   bool
 13  dia_concesion               4954 non-null   int64
 14  mes_concesion               4954 non-null   int64
 15  año_concesion               4954 non-null   int64
 16  Comunidad                   789 non-null    object
 17  Provincia_y                 789 non-null    object
 18  Municipio                   789 non-null    object
 19  Frequencias                 789 non-null    float64
 20  Tipo                        789 non-null    object
 21  codigopostalid              789 non-null    float64
 22  lat                         789 non-null    float64
 23  lon                         789 non-null    float64
 24  brand_sort                  4954 non-null   object
 25  score_sort                  4954 non-null   int64
 26  match_sort                  4954 non-null   object
 27  ratio                       4954 non-null   int64
dtypes: bool(3), float64(4), int64(7), object(14)
memory usage: 982.2+ KB

In [16]:
df.describe()

,Unnamed: 0,C. Postal,dia_concesion,mes_concesion,año_concesion,Frequencias,codigopostalid,lat,lon,score_sort,ratio
count,4954.000000,4954.000000,4954.000000,4954.000000,4954.000000,789.000000,789.000000,7.890000e+02,7.890000e+02,4954.000000,4954.000000
mean,395252.140291,25727.424102,1087.398264,90.603553,3.016149,17757.128426,395.368821,-2.747686e+09,4.295236e+10,98.857287,82.402705
std,231249.544422,7674.420394,1645.128614,137.081260,4.578294,24082.199604,402.105139,1.035561e+08,5.372662e+07,2.532730,10.800876
min,3.000000,2230.000000,0.000000,0.000000,0.000000,12.765000,240.000000,-3.127917e+09,4.252926e+10,80.000000,61.000000
25%,183666.500000,28042.000000,0.000000,0.000000,0.000000,22.106000,240.000000,-2.712437e+09,4.293981e+10,100.000000,75.000000
50%,398221.500000,28042.000000,0.000000,0.000000,0.000000,7694.000000,240.000000,-2.712437e+09,4.293981e+10,100.000000,86.000000
75%,584089.250000,28223.000000,2033.000000,169.000000,6.000000,22078.000000,240.000000,-2.712437e+09,4.293981e+10,100.000000,88.000000
max,807959.000000,50009.000000,12783.000000,1065.000000,36.000000,85750.000000,1474.000000,-2.316708e+09,4.312084e+10,100.000000,100.000000

In [14]:
df.isna().sum()

Unnamed: 0                       0
Referencia                       0
Titular                          0
NIF/CIF                          0
Domicilio social                 0
Localidad                        0
Provincia_x                      0
C. Postal                        0
F. Concesion                  3025
F. Caducidad                     1
Susceptible cesion               0
Susceptible mutualizacion        0
Obtenido por transferencia       0
dia_concesion                    0
mes_concesion                    0
año_concesion                    0
Comunidad                     4165
Provincia_y                   4165
Municipio                     4165
Frequencias                   4165
Tipo                          4165
codigopostalid                4165
lat                           4165
lon                           4165
brand_sort                       0
score_sort                       0
match_sort                       0
ratio                            0
dtype: int64

In [15]:
df.isnull().sum()

Unnamed: 0                       0
Referencia                       0
Titular                          0
NIF/CIF                          0
Domicilio social                 0
Localidad                        0
Provincia_x                      0
C. Postal                        0
F. Concesion                  3025
F. Caducidad                     1
Susceptible cesion               0
Susceptible mutualizacion        0
Obtenido por transferencia       0
dia_concesion                    0
mes_concesion                    0
año_concesion                    0
Comunidad                     4165
Provincia_y                   4165
Municipio                     4165
Frequencias                   4165
Tipo                          4165
codigopostalid                4165
lat                           4165
lon                           4165
brand_sort                       0
score_sort                       0
match_sort                       0
ratio                            0
dtype: int64

In [19]:
df.columns

Index(['Unnamed: 0', 'Referencia', 'Titular', 'NIF/CIF', 'Domicilio social',
       'Localidad', 'Provincia_x', 'C. Postal', 'F. Concesion', 'F. Caducidad',
       'Susceptible cesion', 'Susceptible mutualizacion',
       'Obtenido por transferencia', 'dia_concesion', 'mes_concesion',
       'año_concesion', 'Comunidad', 'Provincia_y', 'Municipio', 'Frequencias',
       'Tipo', 'codigopostalid', 'lat', 'lon', 'brand_sort', 'score_sort',
       'match_sort', 'ratio'],
      dtype='object')

In [20]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4949    False
4950    False
4951    False
4952    False
4953    False
Length: 4954, dtype: bool

In [23]:
for col in df.columns:
    print(df[col].value_counts())
    print("**********************************")

3         1
533091    1
536726    1
536620    1
536293    1
         ..
276705    1
276489    1
276061    1
275740    1
807959    1
Name: Unnamed: 0, Length: 4954, dtype: int64
**********************************
ALAL-0700001    1
A A -1501067    1
A A -1700036    1
A A -1600763    1
A A -1600603    1
               ..
LELE-1300427    1
LELE-1200302    1
LELE-1100182    1
LELE-1100161    1
MUMU-2200656    1
Name: Referencia, Length: 4954, dtype: int64
**********************************
VODAFONE ONO SA                888
ORANGE ESPAGNE, S.A.U.         701
VODAFONE ONO, S.A.             630
XFERA MOVILES SA               396
ORANGE ESPAÑA SA               396
                              ...
GLOBE OPERATOR TELECOM S.L.      1
ORANGE ESPAGNE                   1
NETCAN TECHNOLOGIES SL           1
DEKBERA COMMUNICATIONS SL        1
TELE ALHAMA SL                   1
Name: Titular, Length: 181, dtype: int64
**********************************
A62186556    1576
A82009812    1399
A82528548     613
A62275680     538
A61902045     223
             ...
B02491447       1
B39815329       1
B76745637       1
B76639582       1
B30143788       1
Name: NIF/CIF, Length: 116, dtype: int64
**********************************
AV AMERICA, 115                                               870
AVDA AMERICA, 115.                                            700
AVDA BRUSELAS, 38.                                            585
VIA AV DEL PARQUE LOGISTICO, 12-20                            335
PASEO PASEO DEL CLUB DEPORTIVO, 1.                            322
                                                             ...
CASANOVA 3, ESC.IZDA. ENT.3ª                                    1
AV MONTSERRAT, 16. 0º                                           1
PARQUE EMPRESARIAL LA FINCA PASEO CLUB DEPORTIVO 1, EDIF 8      1
PZ CATALUNYA, 6. 0º                                             1
PBDO PASEO DEL CLUB DEPORTIVO, 1.                               1
Name: Domicilio social, Length: 251, dtype: int64
**********************************
MADRID                2814
ALCOBENDAS             633
POZUELO DE ALARCÓN     605
BARCELONA              430
ELCHE                   85
                      ...
SANTANDER                1
COSTA ADEJE              1
CANDELARIA               1
LOS BALDÍOS              1
ALHAMA DE MURCIA         1
Name: Localidad, Length: 117, dtype: int64
**********************************
MADRID                    4063
BARCELONA                  433
ALICANTE/ALACANT           142
SEVILLA                     68
CORUÑA (A)                  54
NAVARRA                     28
MURCIA                      21
VALENCIA/VALÈNCIA           17
ILLES BALEARS               17
GRANADA                     15
BIZKAIA                     13
TARRAGONA                   11
PALMAS (LAS)                 8
JAÉN                         7
CÁCERES                      7
LLEIDA                       6
SANTA CRUZ DE TENERIFE       6
MÁLAGA                       5
RIOJA (LA)                   4
ALBACETE                     3
CIUDAD REAL                  3
VALLADOLID                   3
CÁDIZ                        3
BADAJOZ                      2
ALMERÍA                      2
CÓRDOBA                      2
TOLEDO                       2
GIRONA                       2
ZARAGOZA                     2
TERUEL                       2
ALICANTE                     1
CASTELLÓN/CASTELLÓ           1
CANTABRIA                    1
Name: Provincia_x, dtype: int64
**********************************
28042    1595
28223    1368
28108     629
8040      419
28007     331
         ...
2230        1
39011       1
38670       1
38530       1
30840       1
Name: C. Postal, Length: 117, dtype: int64
**********************************
2021-06-07    39
2021-04-05    29
2022-03-06    23
2020-11-06    22
2017-10-01    21
              ..
2003-10-07     1
2015-10-03     1
1995-08-03     1
2004-06-09     1
2007-05-02     1
Name: F. Concesion, Length: 493, dtype: int64
**********************************
2026-12-31    1355
2025-12-31    1247
2024-12-31     798
2023-12-31     686
2022-12-31     459
2027-12-31     401
2022-06-30       7
Name: F. Caducidad, dtype: int64
**********************************
True     3318
False    1636
Name: Susceptible cesion, dtype: int64
**********************************
False    4954
Name: Susceptible mutualizacion, dtype: int64
**********************************
False    4848
True      106
Name: Obtenido por transferencia, dtype: int64
**********************************
0       3026
2096      46
2033      44
2061      30
2126      30
        ...
5498       1
3682       1
2308       1
1908       1
3706       1
Name: dia_concesion, Length: 303, dtype: int64
**********************************
0      3026
177     128
172     119
162     103
157     101
       ...
166       1
632       1
872       1
192       1
781       1
Name: mes_concesion, Length: 93, dtype: int64
**********************************
0     3026
6      817
5      574
11     242
16     104
10      95
15      42
21      28
26      19
29       1
25       1
31       1
36       1
13       1
20       1
28       1
Name: año_concesion, dtype: int64
**********************************
ANDALUCÍA                     107
ARAGÓN                         78
CASTILLA Y LEÓN                76
CATALUÑA                       70
CANARIAS                       69
GALICIA                        50
COMUNITAT VALENCIANA           48
CASTILLA-LA MANCHA             47
COMUNIDAD DE MADRID            37
CANTABRIA                      30
EXTREMADURA                    30
PAÍS VASCO                     30
ILLES BALEARS                  29
COMUNIDAD FORAL DE NAVARRA     28
REGIÓN DE MURCIA               23
LA RIOJA                       18
PRINCIPADO DE ASTURIAS         17
CIUDAD AUTÓNOMA DE CEUTA        1
CIUDAD AUTÓNOMA DE MELILLA      1
Name: Comunidad, dtype: int64
**********************************
ALMERÍA             107
BARCELONA            70
PALMAS (LAS)         69
ÁVILA                53
HUESCA               51
CORUÑA (A)           50
ALICANTE/ALACANT     48
ALBACETE             47
MADRID               37
CANTABRIA            30
BADAJOZ              30
ILLES BALEARS        29
BIZKAIA              29
NAVARRA              28
BURGOS               23
MURCIA               23
RIOJA (LA)           18
TERUEL               17
ASTURIAS             17
ZARAGOZA             10
CEUTA                 1
MELILLA               1
ARABA/ÁLAVA           1
Name: Provincia_y, dtype: int64
**********************************
ALMERIA                         34
ALBACETE                        21
MADRID                          21
PALMAS DE GRAN CANARIA (LAS)    20
AVILA                           16
                                ..
ESTANY (L')                      1
BIGUES I RIELLS                  1
PINEDA DE MAR                    1
MOIA                             1
CARTAGENA                        1
Name: Municipio, Length: 347, dtype: int64
**********************************
75750.000    51
5945.200     16
14910.500    16
15.019       12
15330.500    12
             ..
37.072        1
19370.000     1
38171.000     1
85000.000     1
6108.275      1
Name: Frequencias, Length: 322, dtype: int64
**********************************
MHz    506
GHz    283
Name: Tipo, dtype: int64
**********************************
240.0     686
1450.0     75
1474.0     17
1160.0      4
1307.0      4
1211.0      2
1208.0      1
Name: codigopostalid, dtype: int64
**********************************
-2.712437e+09    686
-3.000073e+09     75
-3.127917e+09     17
-2.565400e+09      4
-2.678636e+09      4
-2.859714e+09      2
-2.316708e+09      1
Name: lat, dtype: int64
**********************************
4.293981e+10    686
4.305428e+10     75
4.312084e+10     17
4.305120e+10      4
4.252926e+10      4
4.268227e+10      2
4.288969e+10      1
Name: lon, dtype: int64
**********************************
VODAFONE ESPAÑA SA                                              1607
ORANGE ESPAGNE SA                                               1398
XFERA MOVILES S.A.                                               613
RETEVISION I S.A.                                                538
A2Z TELECOMUNICACIONES SL                                        213
REDES DE TELECOMUNICACION GALEGAS RETEGAL SA                     157
AIRE NETWORKS DEL MEDITERRANEO S.L.                              122
MARQUES BIDCO SL                                                  60
TRADIA TELECOM SA                                                 29
FREE TECHNOLOGIES-EXCOM SL                                        28
DISEÑADORES INFORMATICOS Y TECNOLOGICOS                           28
BLEND TELECOM SOCIEDAD LIMITADA                                   22
CONRED COMUNICACIONES SL                                          15
E-PORTS AMPLE DE BANDA I INTERNET SL                              13
SEROSENSE TELECOM SL                                              13
TELPLAY . SL                                                      11
NAVARRA DE SERVICIOS Y TECNOLOGIAS SA                              9
TELEAST DIGITAL SL                                                 9
TRIUNFO TELECOMUNICACIONES S.L.                                    8
WIFIBYTES . SL                                                     7
ITELAZPI S.A.                                                      6
EUSKALTEL SA                                                       6
LYNTIA NETWORKS S.A.U.                                             5
CABLE AIREWORLD S.A.                                               5
RADIOCABLE INGENIEROS SL                                           4
GLOBE OPERATOR TELECOM S.L.                                        4
AIRE NETWORKS DEL MEDITERRANEO, S.L.                               4
MISMENET TELECOMUNICACIONES SOCIEDAD LIMITADA                      3
LIROSAN COMUNICACIONES SOCIEDAD LIMITADA                           3
CIUDAD SIN CABLES TELECOM                                          2
INSTALACIONES SERVIMAN S.L.                                        2
INTERMENORCA WIMAX S.L.                                            2
TELEALCALA . SL                                                    2
INFRAESTRUCTURAS Y SERVICIOS DE TELECOMUNICACIONES 2003 S.L.       1
ORANGE ESPAÑA SA                                                   1
TRADIA TELECOM, S.A.                                               1
RED DIGITAL DE TELECOMUNICACIONES DE LAS ISLAS BALEARES S.L.       1
EUSKALTEL . SA                                                     1
DISEÑADORES INFORMATICOS Y TECNOLOGICOS SL                         1
Name: brand_sort, dtype: int64
**********************************
100    3872
94      658
98      225
97       92
96       40
85       15
95       13
80       13
91        5
92        5
93        4
90        3
87        2
81        2
88        2
86        2
82        1
Name: score_sort, dtype: int64
**********************************
VODAFONE ESPAÑA, SA                                                    1607
ORANGE ESPAGNE, SA                                                     1398
XFERA MOVILES, S.A.U.                                                   613
RETEVISION I, S.A.                                                      538
A2Z TELECOMUNICAIONES SL                                                212
REDES DE TELECOMUNICACION GALEGAS RETEGAL, SA                           157
AIRE NETWORKS DEL MEDITERRANEO, S.L.                                    110
MARQUES BIDCO SLU                                                        60
DISEÑADORES INFORMATICOS Y TECNOLOGICOS SL                               28
FREE TECHNOLOGIES-EXCOM, S.L.                                            28
TRADIA TELECOM, SAU                                                      27
BLEND TELECOM, SOCIEDAD LIMITADA                                         22
LOWNET COMUNICACIONS SL                                                  15
SEROSENSE TELECOM SLU                                                    13
E-PORTS AMPLE DE BANDA I INTERNET. SOCIEDAD LIMITADA                     13
AIRE NETWORKS DEL MEDITERRANEO SL                                        12
TELPLAY SL                                                               11
NAVARRA DE SERVICIOS Y TECNOLOGIAS, S.A.U                                 9
TELEAST DIGITAL, SL                                                       9
TRIUNFO TELECOMUNICACIONES SL                                             8
WIFIBYTES SL                                                              7
ITELAZPI, S.A., ITELAZPI,S.A.                                             6
EUSKALTEL, SA                                                             6
LYNTIA NETWORKS, S.A.                                                     5
CABLE AIREWORLD SA                                                        5
GLOBE OPERATOR TELECOM SL                                                 4
RADIOCABLE INGENIEROS, S.L.                                               4
AIRE NETWORKS DEL MEDITERRANEO, S.L.U                                     4
TV LOJA COMUNICACIONES SOCIEDAD LIMITADA                                  3
SANGANET TELECOMUNICACIONES SOCIEDAD LIMITADA                             3
INTERMENORCA WIMAX SL                                                     2
TRADIA TELECOM, S.A.                                                      2
CIUDAD SIN CABLES TELECOM S.L.                                            2
TELECALLOSA SL                                                            2
INSTALACIONES SERVIMAN SL                                                 2
EUSKALTEL S.A.                                                            1
DISEÑADORES INFORMATICOS Y TECNOLOGICOS SOCIEDAD LIMITADA                 1
ORANGE ESPAÑA, SA                                                         1
TRADIA TELECOM, S.A.UNIP.                                                 1
TELECOMUNICACIONES ABARAN SL                                              1
RED DIGITAL DE TELECOMUNICACIONES DE LAS ISLAS BALEARES SL                1
INFRAESTRUCTURAS Y SERVICIOS DE TELECOMUNICACIONES CANARIAS 2003 SL       1
Name: match_sort, dtype: int64
**********************************
86     1277
75      891
73      689
100     596
88      512
62      325
94      183
97      107
90       74
66       52
61       50
81       37
96       26
91       20
63       15
87       15
64       14
65       12
78        9
67        8
71        7
68        6
84        6
70        3
72        2
74        2
98        2
80        2
79        2
95        2
85        2
76        2
69        1
92        1
93        1
82        1
Name: ratio, dtype: int64
**********************************